# old data
*_trained_model
trained_model
*_train.csv
*_train.txt
*_val.csv
*_val.txt
results
logs

# new data
appdata

# local data
logs.zip
data.txt
icelog
*.log

# python
__pycache__

# transcript
transcript.txt